<hachs-top-navigation
  class="flex flex-row items-center justify-evenly bg-gray-300 dark:bg-gray-700 bg-opacity-90 w-full h-16 m-0 shadow-lg"
></hachs-top-navigation>
<div
  class="flex flex-col h-full w-full items-center ml-0 mx-auto px-0 pb-12 overflow-y-scroll"
>
  <hachs-message
    class="w-full"
    *ngFor="let message of messages"
    text="{{ message.text }}"
    user="{{ message.user }}"
    timestamp="{{ message.timestamp }}"
  ></hachs-message>
</div>
<div class="bottom-bar w-11/12 self-center">
  <ng-icon
    class="text-green-500 dark:shadow-lg mx-2 dark:text-primary text-2xl"
    name="hero-plus-circle-solid"
  ></ng-icon>
  <input type="text" placeholder="Enter message..." class="bottom-bar-input" />
</div>
