<ng-icon
  class="tracking-wider font-semibold text-gray-500 ml-2 my-auto text-2xl"
  name="hero-hashtag"
></ng-icon>
<h5
  class="text-xl text-gray-500 tracking-wider font-semibold text-opacity-80 mr-auto ml-2 my-auto transition duration-300 ease-in-out"
>
  NgTailwind
</h5>
<ng-icon
  class="text-gray-500 mr-4 ml-auto transition duration-300 ease-in-out hover:text-pink-400 cursor-pointer text-2xl"
  [name]="darkMode ? 'hero-moon' : 'hero-sun'"
  (click)="toggleMode()"
></ng-icon>
<div class="search">
  <input class="search-input" type="text" placeholder="Search..." />
  <ng-icon
    class="text-secondary my-auto text-xl"
    name="hero-search"
  ></ng-icon>
</div>
<ng-icon class="top-navigation-icon text-2xl" name="hero-bell"></ng-icon>
<ng-icon
  class="top-navigation-icon text-2xl"
  name="hero-user-circle"
></ng-icon>
